/* Range slider */
.ngrs-join-l {
  height: 8px;
  margin-top: 5px; }

.ngrs-join-r {
  height: 8px;
  margin-top: 4px; }

.slider-simple .ngrs-join-r {
  margin-top: 2px; }

.ngrs-range-slider.slider-simple {
  padding: 0; }

.slider-block {
  padding-top: 5px; }
  .slider-block .form-control {
    padding: 4px 10px; }

.slider-simple-wrap {
  margin-top: -9px; }

.ngrs-join-r {
  background: #e4e6eb;
  border-radius: 3px; }
