.list-text-align {
  margin: 0;
  li {
    width: 33%;
    padding: 0;
    border: 1px solid #e4e6eb;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: -1px;
    position: relative;
    vertical-align: top;
    a {
      text-align: center;
      display: block;
      height: 28px;
      [class^="icon-"]:before, [class*=" icon-"]:before {
        color: #797d84;
      }
      &:hover {
        [class^="icon-"]:before, [class*=" icon-"]:before {
          color: #2d92a0;
        }
      }
    }
    &.active {
      border: 1px solid #2d92a0;
      background: #d3e1eb;
      box-shadow: inset 0 0 3px #ccc;
      z-index: 1;
      a {
        [class^="icon-"]:before, [class*=" icon-"]:before {
          color: #2d92a0;
        }
      }
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:nth-child(3) {
      border-radius: 0 3px 3px 0;
    }
  }
}

.list-text-style {
  margin: 0;
  padding-top: 6px;
  li {
    width: 33%;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    a {
      [class^="icon-"]:before, [class*=" icon-"]:before {
        color: #797d84;
      }
      &:hover {
        [class^="icon-"]:before, [class*=" icon-"]:before {
          color: #2d92a0;
        }
      }
    }
    &.active {
      a {
        [class^="icon-"]:before, [class*=" icon-"]:before {
          color: #2d92a0;
        }
      }
    }
  }
}
