/*---content styles---*/
.inner {
    padding: 25px 10px;
}
.title-edit {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; 
    text-shadow:0 0 2px #fff;
    margin-top: 2px;
    .edit {
        display: inline-block;
        border-left: 1px solid #dfe3eb;
        color:#b2b5bd;
        padding: 0 10px;
        margin-left: 10px;
        font-size: 14px;
        [class^="icon-"], [class*=" icon-"] {
            line-height: 25px;
        }
    }
}
.btn-primary.btn-lg {
    padding: 10px 15px;
    margin-top: -5px;
    font-size: 14px;
    .round {
        margin-left: 35px;
    }
    &:hover, &:focus {
        opacity: 0.9;
    }
}
.round {
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border: 1px solid $modal-content-border-color;
  border-radius: 50%;
  &:hover {
    @extend %rd-custom-bg;
    border-color: #26747f;
  }
}
.rd-default {
  @extend %rd-default-bg;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover, &:focus {
    span {
      text-shadow: none;
      color: #216068;
    }
  }
  span {
    font-size: 11px;
    text-shadow: 0px 1px 0 #fff;
    color: #999ca3;
    vertical-align: middle;
  }
  .icon-close {
    font-size: 10px;
  }
  .icon-carret {
    margin-left: -2px;
  }
}
.inner-light {
    background: #f7f9fc;
    border: 1px solid #dee1e8;
    box-shadow: 0 0 5px #dee1e8;
    border-radius: $border-radius-base;
    margin-top: 23px;
    .title-row {
        border-bottom: 1px solid #dee1e8;
        padding: 20px 25px;
        font-size: 14px;
        line-height: 17px;
        .user-box {
            margin-left: 23px;
            padding-left: 23px;
            border-left: 1px solid #e4e7ec;
            display: inline-block;
            color:#797d83;
            .img-frame {
                border-radius:1000px;
                overflow: hidden;
                display: inline-block;
                margin-right: 9px;
                box-shadow: 0 0 1px #ccc;
                margin-top: -7px;
                margin-bottom: -7px;
                width: 30px;
                height: 30px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .content-row {
        & > [class^="col-"], [class*=" col-"] {
            border-left: 1px solid #dee1e8;
            padding: 40px;
            float: left;
            @include box-sizing(border-box);
            &:first-child {
                border:none;
            }
        }
        h3 {
            font-size: 15px;
            margin: 0 0 15px;
        }
        .icon-info {
            color: #cfd3db;
            margin-left: 15px;
            font-size: 18px;
            vertical-align: -3px;
        }
    }
}
.btn-default {
    background-image: linear-gradient(#ffffff, #fcfdfe, #f5f7fc);
    color: #797d84;
    font-family: "proxima_novasemibold",Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #797d84;
    &:hover {
        opacity: 0.8;
        border-color: #e4e6eb;
    }
}
.col-40 {
    width: 40%;
}
.col-60 {
    width: 60%;
}
