/*---content styles---*/
.inner {
    padding: 25px 10px;
}
.title-edit {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; 
    text-shadow:0 0 2px #fff;
    margin-top: 2px;
    .edit {
        display: inline-block;
        border-left: 1px solid #dfe3eb;
        color:#b2b5bd;
        padding: 0 10px;
        margin-left: 10px;
        font-size: 14px;
        [class^="icon-"], [class*=" icon-"] {
            line-height: 25px;
        }
    }
}
.btn-lg {
    padding: 10px 15px;
    // margin-top: -5px;
    font-size: 15px;
    .round {
        margin-left: 35px;
    }
}
.round {
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border: 1px solid $modal-content-border-color;
  border-radius: 50%;
  &:hover {
    @extend %rd-custom-bg;
    border-color: #26747f;
  }
}
.rd-default {
  @extend %rd-default-bg;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover, &:focus {
    span {
      text-shadow: none;
      color: #216068;
    }
  }
  span {
    font-size: 11px;
    text-shadow: 0px 1px 0 #fff;
    color: #999ca3;
    vertical-align: middle;
  }
  .icon-close {
    font-size: 10px;
  }
  .icon-carret {
    margin-left: -2px;
  }
}
.inner-light {
    background: #f7f9fc;
    border: 1px solid #dee1e8;
    box-shadow: 0 0 5px #dee1e8;
    border-radius: $border-radius-base;
    margin-top: 23px;
    .title-row {
        border-bottom: 1px solid #dee1e8;
        padding: 20px 25px;
        font-size: 14px;
        line-height: 17px;
        .user-box {
            margin-left: 23px;
            padding-left: 23px;
            border-left: 1px solid #e4e7ec;
            display: inline-block;
            color:#797d83;
            .img-frame {
                border-radius:1000px;
                overflow: hidden;
                display: inline-block;
                margin-right: 9px;
                box-shadow: 0 0 1px #ccc;
                margin-top: -7px;
                margin-bottom: -7px;
                width: 30px;
                height: 30px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .content-row {
        & > [class^="col-"], [class*=" col-"] {
            border-left: 1px solid #dee1e8;
            padding: 40px;
            float: left;
            @include box-sizing(border-box);
            &:first-child {
                border:none;
            }
        }
        h3 {
            font-size: 15px;
            margin: 0 0 15px;
        }
        .icon-info {
            color: #cfd3db;
            margin-left: 15px;
            font-size: 18px;
            vertical-align: -3px;
        }
        &:after {
            clear: both;
            display: block;
            content: "";
        }
    }

    &.box {
        padding: 18px;
    }
}
.btn-default {
    background-image: linear-gradient(#ffffff, #fcfdfe, #f5f7fc);
    color: #797d84;
    font-family: "proxima_novasemibold",Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #797d84;
    &:hover {
        opacity: 0.8;
        border-color: #e4e6eb;
    }
}
.col-40 {
    width: 40%;
}
.col-60 {
    width: 60%;
}
.slider-block {
    .slider-counter{
        text-align: center;
        margin: 0 0 15px;
        &:after {
            clear: both;
            display: block;
            content: "";
        }
        .count-default {
            padding: 15px;
            @include box-sizing(border-box);
            border: 1px solid #e7e9ed;
            border-right: none;
            color: #797d83;
            float: left;
        }
        .count-exp {
            padding: 15px;
            @include box-sizing(border-box);
            border: 1px solid #e2d7ef;
            color: #8747b3;
            background: #f4f3fa;
            float: left;
            & + .count-exp {
                border-left: none;
            }
        }
    }
    .slider-simple {
        margin: 0 0 15px;
        .ngrs-runner {
            height: 20px;
        }
        .ngrs-join-r {
            background: #8747b3;
            height: 10px;
            @include border-radius(0 5px 5px 0);
            margin-top: 5px;
        }
        .ngrs-join {
            background: #95979d;
            height: 10px;
            @include border-radius(5px 0 0 5px);
            margin-top: -5px;
        }
        .ngrs-handle {
            background: url(../images/slider.png) no-repeat;
            border: none;
            border-radius:0;
            width: 14px;
            height: 20px;
            margin-left: -7px;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .count-inp {
        float: left;
        width: 50%;
        text-align: center;
        color: #797d83;
        &.var {
            color: #8747b3;
        }
        .form-control {
            width: 60px;
            text-align: center;
            display: inline-block;
            margin-right: 5px;
            color: #211b33;
            background-image: linear-gradient(#eceff4, #fbfcfe);
        }
    }
}
.variations-row {
    padding: 40px 200px 40px 40px;
    border-top:1px solid #dee1e8; 
    h3 {
        font-size: 15px;
        margin: 0 0 35px;
        a {
            color: #8747b3;
        }
    }
    .button-add-new {
        position: absolute;
        right: 75px;
        bottom:160px;
        text-align: center;
        .round {
            display: block;
            height: 58px;
            width: 58px;
            line-height: 58px;
            
        }
    }
}
