/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: block;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #6c6e83;
  border-top-color: #5a60a3;
  border-left-color: #616598;
  border-right-color: #616598;
  @include background-image(linear-gradient(#dcf1fe, #8ac5f9, #bde7fd));
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\e603";
  font-family: $ff-rocket;
  position: absolute;
  top: -4px;
  left: 4px;
  font-size: 14px;
  color: #000;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
label:hover:before {
  border: 1px solid #4778d9!important;
}
.checkbox {
  margin: 0;
  text-align: left;
  @extend %select-font-styles;
  label {
    span {
      display: inline-block;
      line-height: 13px;
      padding-top: 6px;
    }
  }
}

.checkbox-btn {
  padding-bottom: 2px;
}
