/*------------------select-dropdown----------------*/
.select-dropdown {
  @extend %select-bg;
  height: 30px;
  border: 1px solid $btn-default-border;
  border-radius: $border-radius-base;
  padding: 4px 20px 4px 12px;
  display: block;
  @extend %select-font-styles;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  &::after {
    content: "\25bc";
    color: $input-color;
    position: absolute;
    width: 6%;
    top: 50%;
    right: 3%;
    margin-top: -9px;
    z-index: 2;
    pointer-events: none;
    font-size: 8px;
  }
  &::before {
    background-color: #ebeef5;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    display: block;
    border-radius: 0 3px 3px 0;
    border: 1px solid $btn-default-border;
    border-left: none;
  }
  &.sellect-sm {
    padding: 5px;
  }
  &:hover,
  &:focus {
    @extend %select-font-styles;
  }
}
.select-dropdown.disabled {
  opacity: 0.5;
}
.dropdown-sm {
  &:after {
    width: 10%;
  }
}