@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rocket-font';
  src: url('../fonts/rocket-font.eot?skfdcv');
  src: url('../fonts/rocket-font.eot?#iefixskfdcv') format('embedded-opentype'), url('../fonts/rocket-font.woff?skfdcv') format('woff'), url('../fonts/rocket-font.ttf?skfdcv') format('truetype'), url('../fonts/rocket-font.svg?skfdcv#rocket-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'rocket-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-info:before {
	content: "\e61d";
}
.icon-ar-right:before {
	content: "\e61c";
}
.icon-pen:before {
	content: "\e61b";
}
.icon-cog:before {
	content: "\e615";
}
.icon-home:before {
	content: "\e616";
}
.icon-phone:before {
	content: "\e617";
}
.icon-rise:before {
	content: "\e618";
}
.icon-rocket:before {
	content: "\e619";
}
.icon-tube:before {
	content: "\e61a";
}

.icon-placeholder-text:before {
  content: "\e612";
}

.icon-input-text:before {
  content: "\e613";
}

.icon-alternate-states:before {
  content: "\e614";
}

.icon-pos-bottom:before {
  content: "\e60e";
}

.icon-pos-left:before {
  content: "\e60f";
}

.icon-pos-right:before {
  content: "\e610";
}

.icon-pos-top:before {
  content: "\e611";
}

.icon-text-capitalize:before {
  content: "\e60b";
}

.icon-text-italic:before {
  content: "\e60c";
}

.icon-text-underline:before {
  content: "\e60d";
}

.icon-text-center:before {
  content: "\e608";
}

.icon-text-left:before {
  content: "\e609";
}

.icon-text-right:before {
  content: "\e60a";
}

.icon-text:before {
  content: "\e604";
}

.icon-paint:before {
  content: "\e605";
}

.icon-link:before {
  content: "\e606";
}

.icon-photo:before {
  content: "\e607";
}

.icon-check:before {
  content: "\e603";
}

.icon-carret:before {
  content: "\e600";
}

.icon-question:before {
  content: "\e601";
}

.icon-close:before {
  content: "\e602";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}
