body {
  background: #f0f4fb;
  height: 100%;
  position: relative;
}
html {
  height: 100%;
}
header {
  height: 60px;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 100%;
  z-index: 20;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.navbar-r {
  li {
    display: inline-block;
    padding: 0 !important;
    &:first-child {
      border-left: none;
    }
    a {
      padding: 0 15px;
    }
  }
}
.pattern-link {
  padding: 5px 15px 5px 0;
}
.help-link {
  padding: 5px 0 5px 15px;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
}
%round-custom {
  @extend %rd-custom-bg;
  border-color: #2fa8b1;
  span {
    text-shadow: none;
    color: #ffffff;
  }
}
.navbar {
  padding: 35px 35px 0;
  a {
    @extend %navlink;
    transition: 0.2s;
    &:hover {
      .round {
        @extend %round-custom;
      }
    }
    &:focus {
      color:#247278;
      .round {
        background:#247278;
      }
      .rd-default span {
        color:#fff;
        text-shadow:none;
      }
    }
    &:active {
      .rd-default span {
        color:#fff;
        text-shadow:none;
      }
    }
  }
  li {
    border-left: 1px solid #e0e4eb;
    padding: 0 15px;
  }
}
.content {
  padding: 0 0 60px;
}
footer {
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 20;
  .footer-nav {
    padding: 0 35px 0;
  }
  a {
    @extend %navlink;
    &:hover {
      .round {
        @extend %round-custom;
      }
    }
    &:focus {
      color: #247278;
      .round {
        background: #247278;
      }
      .rd-default span {
        color:#fff;
        text-shadow:none;
      }
    }
    &:active {
      .rd-default span {
        color:#fff;
        text-shadow:none;
      }
    }
  }
}
.edit-box {
  width: 310px;
  border: 1px solid #dde3ed;
  border-radius: $border-radius-base;
  padding: 19px;
  margin: 0 auto;
  background: $body-bg;
}
.table-cell {
  display: table-cell;
  height: 100%;
  padding: 80px 0;
  vertical-align: middle;
  width: 20%;
  position: relative;
}
.edit-image {
  position: relative;
}
.editon,
.editon:hover {
  color: #fff;
  background: $brand-success;
  text-align: center;
  height: 36px;
  width: 200px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0;
  line-height: 27px;
}
.btn-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  &.input-edit {
    right: 15px;
    top: 104px;
    bottom: auto;
  }
  input {
    width: 165px;
    height: 34px;
    background: url(../images/input-edit.png) no-repeat;
    border: medium none;
  }
}
.circle {
  background: #48a7ad;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  display: block;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px #898a8b;
  position: absolute;
}
.top-left {
  left: -5px;
  top: -5px;
}
.left-center {
  left: -5px;
  top: 50%;
  margin-top: -4px;
}
.bottom-left {
  left: -5px;
  bottom: -5px;
}
.top-center {
  top: -5px;
  left: 50%;
  margin-left: -4px;
}
.top-right {
  right: -5px;
  top: -5px;
}
.bottom-right {
  right: -5px;
  bottom: -5px;
}
.right-center {
  right: -5px;
  top: 50%;
  margin-top: -5px;
}
.bottom-center {
  bottom: -5px;
  left: 50%;
  margin-left: -4px;
}
.edit-circles {
  border: 1px dashed $brand-primary;
  display: block;
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  z-index: 1000;
  &.edit-cross {
    border: 1px solid #cfd2d8;
    z-index: 1000;
  }
}
.edit-cross {
  .circle {
    background: #fff;
    width: 8px;
    height: 8px;
    box-shadow: none;
    &:before {
      background: url(../images/editon.png) no-repeat;
      width: 7px;
      height: 9px;
      display: inline-block;
      position: absolute;
      content: "";
      top: -3px;
      left: -1px;
    }
  }
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  outline: none;
}
.edit-menu {
  position: relative;
  @extend .animated, .fadeInDown;
  &> ul {
    padding: 0;
    li {
      display: block;
      a {
        padding: 7px 0 7px 20px;
        @include border-radius(1000px 0 0 1000px);
        display: inline-block;
        @extend %navlink;
        &:hover {
          color: $link-edit-color;
        }
      }
      &.active {
        a {
          background: $link-edit-color;
          color: #fff;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &.ng-hide {
    @extend .animated, .fadeOutDown;
  }
}
.icon-edit-wrap {
  width: 20px;
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 0;
}
.round {
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border: 1px solid $modal-content-border-color;
  border-radius: 50%;
  &:hover {
    @extend %rd-custom-bg;
    border-color: #26747f;
  }
}
.rd-default {
  @extend %rd-default-bg;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover, &:focus {
    span {
      text-shadow: none;
      color: #216068;
    }
  }
  span {
    font-size: 11px;
    text-shadow: 0px 1px 0 #fff;
    color: #999ca3;
    vertical-align: middle;
  }
  .icon-close {
    font-size: 10px;
  }
  .icon-carret {
    margin-left: -2px;
  }
}
.pattern-link {
  &>span {
    margin-right: 8px;
  }
}
.close-link,
.help-link {
  &>span {
    margin-left: 8px;
  }
}
.rocket-logo {
  text-indent: -9999px;
}
.image-edit-prew {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  li {
    display: inline-block;
    a {
      display: inline-block;
      span {
        opacity: 0;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        display: inline-block;
      }
      &:hover,
      &.active {
        span {
          opacity: 1;
        }
      }
    }
  }
}
.center-cell {
  padding-left: 20px;
  padding-right: 20px;
}
.opacity-block {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.35;
}
.edit-cross {
  opacity: 0;
  &:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
.icon-text {
  border-bottom: 3px solid #ccc;
  font-size: 16px;
  vertical-align: -1px;
}
.icon-paint {
  vertical-align: -4px;
  font-size: 18px;
}
.icon-link {
  font-size: 22px;
  vertical-align: -5px;
}
.icon-photo {
  font-size: 18px;
  vertical-align: -3px;
}
.icon-input-text,
.icon-placeholder-text {
  vertical-align: -4px;
  font-size: 20px;
}
.icon-alternate-states {
  vertical-align: -2px;
  font-size: 18px;
}
.text-edit:hover,
.active {
  .icon-text {
    border-color: $brand-primary;
  }
}
.icon-text-left,
.icon-text-center,
.icon-text-right {
  vertical-align: -6px;
  font-size: 16px;
}
.icon-text-capitalize {
  font-size: 18px;
}
.icon-text-underline {
  font-size: 15px;
}
.icon-text-italic {
  font-size: 15px;
}
.btn-default {
  @include background-image(linear-gradient(white, #fcfdfe, #f5f7fc));
  &:hover {
    @include background-image(linear-gradient(white, #f4f6fb, #f1f2f5));
    color: $input-color;
    border-color: $input-border;
  }
}
.range-slider-wrapper {
  padding: 0 12px;
}
