.ngdialog {
  position: absolute;
  left: 55px;
  top: -60px;
  @include border-radius(5px);
  &.ngdialog-theme-default {
    padding: 0;
    .ngdialog-content {
      background: transparent;
      border: none !important;
      padding: 0 !important;
      margin: 0;
    }
  }
  .ngdialog-close,
  .ngdialog-help {
    top: 6px;
    left: 15px;
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 28px;
    border: 1px solid $modal-head-color-border;
    border-radius: 50%;
    text-align: center;
    @extend %circle-bg;
    &:before {
      color: #246973;
      margin-left: -1px;
      content: "\e600";
      font-family: $ff-rocket;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-transform: none;
    }
  }
  .ngdialog-help {
    left: auto;
    right: 15px;
    &:before {
      content: "\e601";
    }
  }
  &.ng-dialog-disabled {
    opacity: .4;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none;
  }
  &.ng-dialog-level2 {
    top: -120px;
    left: 110px;
    @include box-shadow(rgba($gray-base, .25) -10px 10px 30px);
  }
}
.panel-wrap {
  @include border-radius(5px);
}
.modal-header {
  @extend %modal-head-color;
  border-radius: $border-radius-base $border-radius-base 0 0;
  border: 1px solid $modal-head-color-border;
  text-align: center;
  color: $kbd-color;
  font-family: $font-family-custom;
  font-size: 17px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  height: 42px;
  padding: 8px 15px 8px 30px;
}
.modal-body {
  border-radius: 0 0 $border-radius-base $border-radius-base;
  padding: 0;
  border: 1px solid #d0d4db;
  @extend %modal-body-bg;
}
.modal-container {
  padding: 15px;
}
.ngdialog.ngdialog-closing {
  @extend .animated, .fadeOutRight;
}
.ngdialog {
  @extend .animated, .fadeInLeft;
  
  .title {
    font-size: 11px;
    text-transform: uppercase;
    color: $modal-title-color;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #f0f4fb;
    height: 22px;
    padding: 3px;
    border-top: 1px solid #e4e7ee;
    border-bottom: 1px solid #e4e7ee;
    font-family: $font-family-custom-bd;
  }
  .form-group {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
      @include clearfix;
    }
    &:first-child {
      margin-bottom: 8px;
      @include clearfix;
    }
  }
}
label.btn {
  text-align: left;
  color: $input-color;
  @extend %select-font-styles;
  @include background-image(linear-gradient(white, #fcfdfe, #f5f7fc));
  &:hover {
    @include background-image(linear-gradient(white, #fcfdfe, #f5f7fc));
    color: $input-color;
    border-color: $input-border;
  }
  &.text-center {
    text-align: center;
  }
}
.ngdialog-content {
  .row {
    margin-left: -3px;
    margin-right: -3px;
  }
  [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
  }
  .col {
    float: left;
  }
  .col-70,
  .col-80 {
    width: 70%;
    .custom-select::after {
      right: 7%;
    }
    .custom-select::before {
      width: 20%;
    }
  }
  .col-30,
  .col-20 {
    width: 30%;
    .custom-select::after {
      right: 16%;
    }
    .custom-select::before {
      width: 18px;
    }
    &.third {
      margin-left: 3%;
      width: 31%;
      &:first-child {
        margin-left: 0;
      }
      .custom-select::after {
        right: 10%;
      }
    }
  }
  .col-45 {
    width: 45%;
    .select-dropdown:before {
      width: 15%;
    }
    .select-dropdown:after {
      right: 5%;
    }
  }
  .col-35 {
    width: 35%;
    .select-dropdown:before {
      width: 20%;
    }
    .select-dropdown:after {
      right: 8%;
    }
    .select-dropdown,
    .select-dropdown:hover {
      font-family: $ff-sans-serif;
    }
  }
  .col-80 {
    width: 80%;
    .custom-select::after {
      right: 2%;
    }
    .custom-select::before {
      width: 12%;
    }
  }
  .col-20 {
    width: 20%;
  }
  .col-50 {
    width: 50%;
  }
}
.custom-select {
  border-right: 1px solid #e4e6eb;
  border-radius: 2px;
}
.modal-container {
  .round {
    line-height: 23px;
    width: 27px;
    vertical-align: -5px;
  }
}
/*------------input settings----------------------*/
.form-control {
  border: 1px solid #e4e6eb;
  border-radius: $border-radius-base;
  color: #000;
  box-shadow: none;
  @include background-image(linear-gradient(#f3f5fa, #fcfdff));
  padding-left: 10px;
  padding-right: 10px;
    &::-webkit-input-placeholder {
    color:    #d5d5d5;
    }
    &:-moz-placeholder {
       color:    #d5d5d5;
       opacity:  1;
    }
    &::-moz-placeholder {
       color:    #d5d5d5;
       opacity:  1;
    }
    &:-ms-input-placeholder {
       color:    #d5d5d5;
    }
}
textarea.form-control {
  resize:none;
  height: 100px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  @extend %input-bg;
  opacity: 1;
}

.color-square {
  width: 24px;
  height: 18px;
  display: inline-block;
  background: #a14f10;
  border-radius: $border-radius-base;
  &.gradient-pick {
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(120deg, #8fc349, #c6b141, #eba53b));
  }
}
.border-size {
  display: inline-block;
  width: 44px;
  height: 1px;
  vertical-align: middle;
  background: #e4a73c;
  margin-left: 5px;
}

.item-title {
  color: $btn-default-color;
  font-size: 11px;
  font-family: $font-family-custom-bd;
  line-height: 14px;
  display: inline-block;
}

/*----------------panel width-----------------*/
.w-200 {
  width: 200px;
}
.w-220 {
  width: 220px;
}
.w-225 {
  width: 225px;
}
.w-230 {
  width: 230px;
}
.w-250 {
  width: 250px;
  .col-30 {
    .color-square {
      margin-left: 5px;
    }
  }
}
.w-325 {
  width: 325px;
  .select-dropdown {
    &:before {
      width: 10%;
    }
    &:after {
      right: 0;
    }
    &.dropdown-sm {
      &:before {
        width: 16%;
      }
    }
  }
}

/*-----------background image-----------------*/
.fileUpload {
  position: relative;
  overflow: hidden;
  span {
    @extend %select-font-styles;
  }
  input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.upload-file-name {
  @extend %select-font-styles;
  margin: 5px 0 0;
}
.image-position {
  margin-right: -4px !important;
  margin-bottom: 10px !important;
  li {
    width: 25% !important;
    a {
      line-height: 30px;
    }
    &:nth-child(4) {
      border-radius: 0 3px 3px 0;
    }
  }
}
.image-fill {
  margin-bottom: 10px !important;
  li {
    width: 50% !important;
    a {
      line-height: 30px;
      @extend %select-font-styles;
    }
    &:nth-child(2) {
      border-radius: 0 3px 3px 0;
    }
    &.active {
      a {
        color: #2d92a0;
      }
    }
  }
}
.actions {
  .form-control {
    font-family: $font-family-custom;
  }
  .form-group {
    margin-top: 8px;
  }
  .modal-container {
    padding-top: 7px;
  }
}
.modal-container.tabs-wrapper {
  padding: 0 0 15px;
  .tab-pane {
    padding: 15px 15px 0;
  }
  .nav-tabs {
    border: none;
    & > li {
      font-family: $font-family-custom;
      width: 50%;
      background: #f0f4fb;
      border-bottom: 1px solid #e4e7ee;
      & > a {
        border-radius: 0;
        padding: 7px;
        text-align: center;
        border: none;
        margin-right: 0;
        color: #7b8399;
        opacity: 0.66;
        &:hover {
          opacity: 1;
          background: none;
        }
      }
      &.active {
        border: none;
        border-left: 1px solid #e4e7ee;
        background: none;
        & > a, & > a:hover, & > a:focus {
          color: #7b8399;
          opacity: 1;
        }
        &:first-child {
          border-left: none;
          border-right: 1px solid #e4e7ee;
        }
      }
    }
  }
}
.form-control {
  font-family: $font-family-custom;
}
.image-edit-block {
  position: absolute;
  bottom: 36px;
  left: 15px;
}
.text-edit-block {
  position: absolute;
  top: 100px;
  left: 30px;
  right: 30px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}