/* Toggle Styles */
body {
    background: #dfe4f3;
    font-family: 'proxima_novasemibold';
    color: #51535b;
    min-width: 1280px;
}
a:hover, a:focus {
    text-decoration: none;
}
#wrapper {
    padding-left: 53px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 53px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 53px;
    width: 53px;
    height: 100%;
    margin-left: -53px;
    overflow-y: auto;
    background: #dfe4f3;
    border-right: 1px solid #d2daef;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 53px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -53px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: /*250px*/53px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 53px;
    text-align: center;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #a2abbf;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3da7af;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li.active a {
    display: block;
    text-decoration: none;
    color: #3da7af;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 53px;
    font-size: 15px;
    line-height: 53px;
}

.sidebar-nav > .sidebar-brand a {
    color: #3da7af;
    background: #eaedf7;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #3da7af;
    background: #eaedf7;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 53px;
    }

    #wrapper.toggled {
        padding-left: 53px;
    }

    #sidebar-wrapper {
        width: 53px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 54px;
    }

    #page-content-wrapper {
        padding: 10px;
        position: relative;
        .container-fluid {
            background: #f0f4fb;
            border-radius: $border-radius-base;
            box-shadow: 0 0 5px #c5cde3;
        }
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}