/* ====== Icons ====== */
.icon {
  display: inline-block;
  vertical-align: middle;
}
//* Path to sprites
//  ========================================================================== */
$sprites-spacing: 15px;
$sprites-layout: horizontal;
$sprites: sprite-map("icon/*.png");
@mixin sprite-background($name) {
  background-image: sprite-url($sprites);
  background-position: sprite-position($sprites, $name);
  background-repeat: no-repeat;
  height: image-height(sprite-file($sprites, $name));
  width: image-width(sprite-file($sprites, $name));
}
.rocket-logo {
  @include sprite-background(rocket);
}
.text {
  @include sprite-background(text);
}
.text-edit {
  &:hover {
    .text {
      @include sprite-background(text-hover);
    }
  }
}
.paint {
  @include sprite-background(paint);
}
.style-edit {
  &:hover {
    .paint {
      @include sprite-background(paint-hover);
    }
  }
}
.actions {
  @include sprite-background(actions);
}
.actions-edit {
  &:hover {
    .actions {
      @include sprite-background(actions-hover);
    }
  }
}
.panorama {
  @include sprite-background(panorama);
}
.image-edit {
  &:hover {
    .panorama {
      @include sprite-background(panorama-hover);
    }
  }
}
.active {
  .paint {
    @include sprite-background(paint-hover);
  }
  .text {
    @include sprite-background(text-hover);
  }
  .actions {
    @include sprite-background(actions-hover);
  }
  .panorama {
    @include sprite-background(panorama-hover);
  }
}
.icon-1 {
  @include sprite-background(icon-disable-1);
  span {
    @include sprite-background(icon-1);
  }
}
.icon-2 {
  @include sprite-background(icon-disable-2);
  span {
    @include sprite-background(icon-2)
  }
}
.icon-3 {
  @include sprite-background(icon-disable-3);
  span {
    @include sprite-background(icon-3)
  }
}
.icon-4 {
  @include sprite-background(icon-disable-4);
  span {
    @include sprite-background(icon-4)
  }
}
.icon-5 {
  @include sprite-background(icon-disable-5);
  span {
    @include sprite-background(icon-5)
  }
}
.image-edit-prew {
  .active {
    .icon-1 {
      @include sprite-background(icon-1);
    }
    .icon-2 {
      @include sprite-background(icon-2);
    }
    .icon-3 {
      @include sprite-background(icon-3);
    }
    .icon-4 {
      @include sprite-background(icon-4);
    }
    .icon-5 {
      @include sprite-background(icon-5);
    }
  }
}
