@import "compass/css3";
@import "bootstrap-variables";

/*--------colorpicker -----------*/

.minicolors-theme-bootstrap {
    .minicolors-swatch {
        height: 16px;
        left: 7px;
        top: 7px;
        width: 16px;
    }
    .minicolors-input {
        padding-left: 30px;
    }
}
.minicolors-panel {
    width: 122px;
    height: 122px;
    border: 0;
    background-color: transparent;
}
.minicolors {
    .minicolors-grid {
        width: 120px;
        height: 120px;
        .minicolors-picker {
            border: 1px solid rgba($gray-base, .3);
        }
    }
    .minicolors-sprita {
        background-position: -107px 0;
        background-size: 730px;
    }
}
.minicolors-slider {
    left: 144px;
    height: 120px;
    width: 26px;
    background-size: 1134px 120px;
    .minicolors-picker {
        border: none;
        background: none;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #fff;
            position: absolute;
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid #fff;
            position: absolute;
            right: -8px;
        }
    }
}
.minicolors-small {
    &+ .minicolors-panel {
        width: 90px;
        height: 90px;
        .minicolors-slider, .minicolors-opacity-slider {
            height: 90px !important;
            left: 105px !important;
        }
        .minicolors-grid {
            width: 90px;
            height: 90px;
            .minicolors-grid-inner {
                width: 90px;
                height: 90px;
            }
        }
    }
}
.minicolors-grid {
    border-radius: 2px;
    .modal-container-inner {
        padding: 0 10px;
    }
}
.minicolors-grid-inner {
    border-radius: 2px;
    border: 1px solid rgba($gray-base, .3);
}
.minicolors-swatch {
    border-radius: 2px;
    border: 1px solid rgba($gray-base, .3);
    background-image: none;
}
.col-inner-r {
    padding-right: 5px;
}
.col-inner-l {
    padding-left: 5px;
}
.gradient-picker {
    .minicolors .minicolors-grid {
        background-position: -73px 0;
        &.minicolors-sprite {
            background-size: 523px;
        }
    }
    .minicolors-sprite.minicolors-slider {
        background-size: 870px 90px;
        width: 20px;
    }
    .minicolors-slider .minicolors-picker:after {
        right: -2px;
    }
    .ngrs-range-slider {
        .ngrs-handle {
            background: none;
            border: 1px solid rgba($gray-base, .3);
            border-radius: 2px;
            width: 16px;
            height: 16px;
            top: -2px;
            i {
                border-radius: 2px;
                width: 14px;
                height: 14px;
            }
        }
    }
    .ngrs-join-l {
        margin-top: 2px;
        border-radius: 2px 0 0 2px;
    }
    .ngrs-join-r {
        margin-top: 2px;
        border-radius: 0 2px 2px 0;
    }
}
