<div class="panel-wrap  w-250" level="1">
  <div class="modal-header">Background Image</div>
  <div class="modal-body">
    <div class="modal-container">
      <div class="form-group">
        <label ng-dialog="background-image-add.html" for="defaultValue" class="btn btn-default btn-block">
          Add a background image
        </label>
      </div>
      <br>
    </div>
  </div>
</div>
