<div class="panel-wrap  w-250">
  <div class="modal-header">Background Image</div>
  <div class="modal-body">
    <div class="title">image file</div>
    <div class="modal-container">
      <div class="row">
        <div class="col-md-9">
          <label class="upload-file-name" for="">prettyimage.jpg</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="fileUpload btn btn-default btn-block">
              <span>edit</span>
              <input type="file" class="upload" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title">image position</div>
    <div class="modal-container">
      <div class="row">
        <div class="col-md-5">
          <ul class="list-unstyled list-inline list-text-align image-fill">
            <li ng-click="editMenuClick($event)" class="active">
              <a href="#">Fill</a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">Fit</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <ul class="list-unstyled list-inline list-text-align image-position">
            <li ng-click="editMenuClick($event)" class="active">
              <a href="#">
                <span class="icon-pos-left"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-top"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-right"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-bottom"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn btn-default btn-block checkbox-btn">
            <p class="checkbox">
              <input type="checkbox" id="test1" />
              <label for="test1">Maintain aspect ratio</label>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="title">image style</div>
    <div class="modal-container">
      <div class="form-group">
        <div class="slider-block">
          <div class="col col-70">
            <div class="slider-simple-wrap">
              <div class="item-title">OPACITY</div>
              <div class="slider-simple" range-slider min="0" max="100" model-min="0" model-max="models.range" pin-handle="min" disabled="false"></div>
            </div>
          </div>
          <div class="col col-30">
            <input class="form-control" ng-init="models.range=50" type="text" ng-model="models.range">
          </div>
        </div>
      </div>
    </div>
	<div class="title">filter style</div>
    <div class="modal-container">
      <div class="row form-group">
          <div class="col col-70">
            <div ng-init="SelectColorFill=1;models.SelectColorFillName='Color Fill'" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectColorFillName}} </a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a ng-click="SelectColorFill=1;models.SelectColorFillName='Color Fill'" href="#" tabindex="-1">Color Fill</a></li>
                <li><a ng-click="SelectColorFill=0;models.SelectColorFillName='Gradient Fill'" href="#" tabindex="-1">Gradient Fill</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-30">
            <div ng-show="SelectColorFill" class="dropdown">
              <a ng-dialog="color-fill.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square"></span></a>
            </div>
            <div ng-show="!SelectColorFill" class="dropdown">
              <a ng-dialog="gradient.html" name="" id="" class="custom-select select-dropdown sellect-sm " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square gradient-pick"></span></a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="slider-block">
            <div class="col col-70">
              <div class="slider-simple-wrap">
                <div class="item-title">OPACITY</div>
                <div class="slider-simple" range-slider min="0" max="100" step="5" model-min="0" model-max="models.range1" pin-handle="min" disabled="false"></div>
              </div>
            </div>
            <div class="col col-30">
              <input class="form-control" ng-init="models.range1=50" type="text" ng-model="models.range1">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
