<div class="panel-wrap">
  <div class="modal-header">Border Radius</div>
  <div class="modal-body">
    <div class="modal-container">
        <input type="number">
        <input type="number">
        <input type="number">
        <input type="number">
        <label class="btn btn-default" for="defaultValue">
          <input id="defaultValue" type="checkbox"> Maintain proportions
        </label>
    </div>
  </div>
</div>