<div class="panel-wrap  w-200">
  <div class="modal-header">Border</div>
  <div class="modal-body">
    <div class="title">size</div>
    <div class="modal-container">
      <div class="row  text-center">
        <div class="col-md-3"><span ng-init="models.size=1" ng-click="models.size=decVal(models.size)" class="round rd-default noselect"><span  class="icon-minus" ></span> </span>
        </div>
        <div class="col-md-6">
          <input class="form-control text-center"   type="text"  min="0" max="15" integer  ng-model="models.size" >
        </div>
        <div class="col-md-3"><span ng-click="models.size=incVal(models.size)" class="round rd-default noselect"><span class="icon-plus" ></span></span>
        </div>
      </div>
    </div>
    <div class="title">color</div>
    <div class="modal-container">
      <input class="form-control" minicolors="" type="text" ng-model="models.color">
      <br>
      <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
        <input class="form-control  ng-valid minicolors-input ng-dirty" ng-model="models.color" type="text">
        <span class="minicolors-swatch minicolors-sprite" style="background-color:{{models.color}} ;"><span class="minicolors-swatch-color" style="background-color:{{models.color}} ;"></span></span>
      </div>
    </div>
  </div>
</div>