<div class="panel-wrap  w-250" level="1">
  <div class="modal-header">Button Image</div>
  <div class="modal-body">
    <div class="modal-container">
      <div class="form-group">
        <label ng-dialog="button-image-add.html" for="defaultValue" class="btn btn-default btn-block text-center">
          Add an image to this button
        </label>
      </div>
      <br>
    </div>
  </div>
</div>