<div class="panel-wrap  w-250" level="1">
  <div class="modal-header">Button Actions</div>
  <div class="modal-body">
  <!-- modal body -->
  <div class="modal-container">
    <!-- modal container -->
    <div class="form-group">
      <div ng-init="models.btnAction='Choose a button action'" class="dropdown">
      <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction}}</a>
      <ul aria-labelledby="drop4" class="dropdown-menu">
        <li><a ng-click="models.btnAction='Choose a button action'" href="#" tabindex="-1">Choose a button action</a></li>
        <li><a ng-click="models.btnAction='Previous'" href="#" tabindex="-1">Previous</a></li>
        <li><a ng-click="models.btnAction='Deeplink'" href="#" tabindex="-1">Deeplink</a></li>
        <li><a ng-click="models.btnAction='Open Experience'" href="#" tabindex="-1">Open Experience</a></li>
        <li><a ng-click="models.btnAction='Start flow'" href="#" tabindex="-1">Start flow</a></li>
        <li><a ng-click="models.btnAction='Static function'" href="#" tabindex="-1">Static function</a></li>
        <li><a ng-click="models.btnAction='Facebook login'" href="#" tabindex="-1">Facebook login</a></li>
        <li><a ng-click="models.btnAction='Next'" href="#" tabindex="-1">Next</a></li>
        <li><a ng-click="models.btnAction='Close'" href="#" tabindex="-1">Close</a></li>
        <li><a ng-click="models.btnAction='Open Inviter'" href="#" tabindex="-1">Open Inviter</a></li>
      </ul>
      </div>
    </div>
    <div ng-if="models.btnAction == 'Deeplink'" id="deeplink">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="URL">
      </div>
    </div>
    <div ng-if="models.btnAction == 'Open Experience'" id="open-experience">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Experience Key">
      </div>
      <div class="form-group">
      <div class="btn btn-default btn-block">
        <p class="checkbox">
        <input type="checkbox" id="animated" />
        <label for="animated">Animated</label>
        </p>
      </div>
      </div>
    </div>
    <div ng-if="models.btnAction == 'Start flow'" id="start-flow">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Flow Key">
      </div>
    </div>
    <div ng-if="models.btnAction == 'Static function'" id="static-function">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Friendly Function Name">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="View Controller Name">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Function Name">
      </div>
      <div class="form-group">
      <div class="btn btn-default btn-block">
        <p class="checkbox">
        <input type="checkbox" id="animated1" />
        <label for="animated1">Animated</label>
        </p>
      </div>
      </div>
    </div>
    <div ng-if="models.btnAction == 'Facebook login'" id="facebook-login">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Success action">
      </div>
    </div>
    <div ng-if="models.btnAction == 'Open Inviter'" id="open-inviter">
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Sender Name">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Sender ID">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Referral Code">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Campaign Key">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Deeplink Path">
      </div>
      <div class="form-group">
      <input class="form-control" type="text" placeholder="Additional Parameters">
      </div>
    </div>
    <div ng-if="models.btnAction != 'Choose a button action'" class="form-group">
      <div class="btn btn-default btn-block">
      <p class="checkbox">
        <input type="checkbox" id="close-on-tap" />
        <label for="close-on-tap">Close on tap</label>
      </p>
      </div>
    </div>
  </div>
  <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>
