<div class="panel-wrap  w-250">
  <div class="modal-header">Button Image</div>
  <div class="modal-body">
    <div class="title">image 1 file</div>
    <div class="modal-container">
      <div class="row">
        <div class="col-md-9">
          <label class="upload-file-name" for="">prettyimage.jpg</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="fileUpload btn btn-default btn-block">
              <span>edit</span>
              <input type="file" class="upload" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title">image 1 position</div>
    <div class="modal-container">
      <div class="row">
        <div class="col-md-7">
          <ul class="list-unstyled list-inline list-text-align image-position">
            <li ng-click="editMenuClick($event)" class="active">
              <a href="#">
                <span class="icon-pos-left"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-top"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-right"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label ng-dialog="button-image-add-file.html" for="defaultValue" class="btn btn-default btn-block text-center">
          Add another image
        </label>
      </div>
    </div>
  </div>
</div>