<div class="panel-wrap  w-325" level="1">
  <div class="modal-header">Button Text</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
      <!-- modal container -->
        <div class="row form-group">
          <div class="col col-45">
            <div ng-init="models.SelectFontFamily=1;models.SelectFontFamily='Arial'" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style="font-family: {{models.SelectFontFamily}}">{{models.SelectFontFamily}}</a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a style="font-family: Arial" ng-click="models.SelectFontFamily=1;models.SelectFontFamily='Arial'" href="#" tabindex="-1">Arial</a></li>
                <li><a style="font-family: Arial Black" ng-click="models.SelectFontFamily=0;models.SelectFontFamily='Arial Black'" href="#" tabindex="-1">Arial Black</a></li>
                <li><a style="font-family: Courier New" ng-click="models.SelectFontFamily=0;models.SelectFontFamily='Courier New'" href="#" tabindex="-1">Courier New</a></li>
                <li><a style="font-family: Georgia" ng-click="models.SelectFontFamily=0;models.SelectFontFamily='Georgia'" href="#" tabindex="-1">Georgia</a></li>
                <li><a style="font-family: Verdana" ng-click="models.SelectFontFamily=0;models.SelectFontFamily='Verdana'" href="#" tabindex="-1">Verdana</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-35">
            <div ng-init="SelectFontWeight=1;SelectFontWeight='Regular'; models.FontWeightInteger=400" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" style="font-weight: {{models.FontWeightInteger}}">{{SelectFontWeight}}</a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a style="font-weight: 400" ng-click="SelectFontWeight=1;SelectFontWeight='Regular'; models.FontWeightInteger=400" href="#" tabindex="-1">Regular</a></li>
                <li><a style="font-weight: 700" ng-click="SelectFontWeight=0;SelectFontWeight='Bold'; models.FontWeightInteger=700" href="#" tabindex="-1">Bold</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-20">
            <div class="dropdown">
              <a ng-dialog="color-fill.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square"></span></a>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-30 third">
            <div ng-init="models.SelectFontSize=1;models.SelectFontSize='16px'" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectFontSize}} <!-- <span class="caret"></span> --></a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a ng-click="models.SelectFontSize=1;models.SelectFontSize='17px'" href="#" tabindex="-1">17px</a></li>
                <li><a ng-click="models.SelectFontSize=0;models.SelectFontSize='18px'" href="#" tabindex="-1">18px</a></li>
                <li><a ng-click="models.SelectFontSize=0;models.SelectFontSize='19px'" href="#" tabindex="-1">19px</a></li>
                <li><a ng-click="models.SelectFontSize=0;models.SelectFontSize='20px'" href="#" tabindex="-1">20px</a></li>
                <li><a ng-click="models.SelectFontSize=0;models.SelectFontSize='21px'" href="#" tabindex="-1">21px</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-30 third">
            <ul class="list-unstyled list-inline list-text-align">
              <li ng-click="editMenuClick($event)" class="active">
                <a href="#">
                  <span class="icon-text-left"></span>
                </a>
              </li><li ng-click="editMenuClick($event)">
                <a href="#">
                  <span class="icon-text-center"></span>
                </a>
              </li><li ng-click="editMenuClick($event)">
                <a href="#">
                  <span class="icon-text-right"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col col-30 third">
            <ul class="list-unstyled list-inline list-text-style">
              <li ng-click="toggleActiv($event)">
                <a href="#">
                  <span class="icon-text-capitalize"></span>
                </a>
              </li><li ng-click="toggleActiv($event)">
                <a href="#">
                  <span class="icon-text-underline"></span>
                </a>
              </li><li ng-click="toggleActiv($event)">
                <a href="#">
                  <span class="icon-text-italic"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-50">
            <label ng-click="switch(models.switchenabled,'Shadow','shadow.html',2)" class="btn btn-default btn-block" for="defaultValue">
              <switch id="enabled" name="enabled" ng-model="models.switchenabled" class="green"></switch> Shadow <span ng-show="models.switchenabled">On</span><span ng-show="!models.switchenabled">Off</span>
            </label>
          </div>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>