<div class="panel-wrap  w-225" level="1">
  <div class="modal-header">Button style</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
      <!-- modal container -->
       <div class="row form-group">
          <div class="col col-70">
            <div ng-init="models.SelectColorFill=1;models.SelectColorFillName='Color'" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectColorFillName}}</a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a ng-click="models.SelectColorFill=1;models.SelectColorFillName='Color Fill'" href="#" tabindex="-1">Color Fill</a></li>
                <li><a ng-click="models.SelectColorFill=0;models.SelectColorFillName='Gradient Fill'" href="#" tabindex="-1">Gradient Fill</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-30">
            <div ng-show="models.SelectColorFill" class="dropdown">
              <a ng-dialog="color-fill.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square"></span></a>
            </div>
            <div ng-show="!models.SelectColorFill" class="dropdown">
              <a ng-dialog="gradient.html" name="" id="" class="custom-select select-dropdown sellect-sm " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square gradient-pick"></span></a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="dropdown">
            <a ng-dialog="border.html" name="" id="" class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">1px Border <span class="border-size"></span> </a>
          </div>
        </div>
        <div class="form-group">
          <div class="dropdown">
            <a ng-dialog="corner-radius.html" name="" id="" class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">3px Corner Radius</a>
          </div>
        </div>
        <div class="form-group">
          <label ng-click="switch(switchenabled,'Shadow','shadow.html',2)" class="btn btn-default btn-block" for="defaultValue">
            <switch id="enabled" name="enabled" ng-model="switchenabled" class="green"></switch> Shadow <span ng-show="switchenabled">On</span><span ng-show="!switchenabled">Off</span>
          </label>
        </div>
        <div class="form-group">
          <div class="slider-block">
            <div class="col col-70">
              <div class="slider-simple-wrap">
                <div class="item-title">OPACITY</div>
                <div class="slider-simple"  range-slider min="0" max="100" model-min="0" step="5" model-max="models.range" pin-handle="min" disabled="false"></div>
              </div>
            </div>
            <div class="col col-30">
              <input class="form-control" ng-init="models.range=50" type="text" ng-model="models.range">
            </div>
          </div>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>