<div class="panel-wrap  w-250" level="1">
  <div class="modal-header">Button Alternative</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container tabs-wrapper">
      <!-- modal container -->
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#pressed" aria-controls="pressed" role="tab" data-toggle="tab">Pressed</a></li>
            <li role="presentation"><a href="#disabled" aria-controls="disabled" role="tab" data-toggle="tab">Disabled</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pressed">
              <div ng-init="models.SelectColorShow=0" ng-show="models.SelectColorShow" class="row form-group">
                <div class="col col-70">
                  <div ng-init="SelectColorFill=1;SelectColorFillName='Color Fill'" class="dropdown">
                    <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{SelectColorFillName}}</a>
                    <ul aria-labelledby="drop4" class="dropdown-menu">
                      <li><a ng-click="SelectColorFill=1;SelectColorFillName='Color Fill'" href="#" tabindex="-1">Color Fill</a></li>
                      <li><a ng-click="SelectColorFill=0;SelectColorFillName='Gradient Fill'" href="#" tabindex="-1">Gradient Fill</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col col-30">
                  <div ng-show="SelectColorFill" class="dropdown">
                    <a ng-dialog="color-fill.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square"></span></a>
                  </div>
                  <div ng-show="!SelectColorFill" class="dropdown">
                    <a ng-dialog="gradient.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square gradient-pick"></span></a>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="dropdown">
                  <a ng-click="models.SelectColorShow=!models.SelectColorShow" class="custom-select select-dropdown" data-target="#" href="#" role="button" aria-expanded="false">Add New Style</a>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="disabled">
              <div ng-init="models.SelectColorShowDisabled=0" ng-show="models.SelectColorShowDisabled" class="row form-group">
                <div class="col col-70">
                  <div ng-init="SelectColorFillDis=1;SelectColorFillNameDis='Color Fill'" class="dropdown">
                    <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{SelectColorFillNameDis}}</a>
                    <ul aria-labelledby="drop4" class="dropdown-menu">
                      <li><a ng-click="SelectColorFillDis=1;SelectColorFillNameDis='Color Fill'" href="#" tabindex="-1">Color Fill</a></li><li><a ng-click="SelectColorFillDis=0;SelectColorFillNameDis='Gradient Fill'" href="#" tabindex="-1">Gradient Fill</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col col-30">
                  <div ng-show="SelectColorFillDis" class="dropdown">
                    <a ng-dialog="color-fill.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square"></span></a>
                  </div>
                  <div ng-show="!SelectColorFillDis" class="dropdown">
                    <a ng-dialog="gradient.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square gradient-pick"></span></a>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="dropdown">
                  <a ng-click="models.SelectColorShowDisabled=!models.SelectColorShowDisabled" class="custom-select select-dropdown" data-target="#" href="#" role="button" aria-expanded="false">Add New Style</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>