<!doctype html>
<html class="no-js" lang="" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rocket</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- <link rel="stylesheet" href="css/jquery.minicolors.css"> -->
  <!-- <link rel="stylesheet" href="css/angular.rangeSlider.css"> -->
  <!-- <link rel="stylesheet" href="css/angular-ui-switch.css"> -->
  <!-- <link rel="stylesheet" href="css/ui.anglepicker.css"> -->
  <link rel="stylesheet" href="css/angular.rangeSlider.css">
  <link rel="stylesheet" href="css/custom-rangeslider.css">
  <link rel="stylesheet" href="css/styles-checkout.css">
</head>
<body ng-controller="MainCtrl">
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <span class="icon-rocket"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-home"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-phone"></span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span class="icon-tube"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-rise"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="pull-peft">
                  <div class="inner">
                    <div class="row">
                      <div class="col-sm-3 col-lg-2">
                        <div ng-show="!models.checkoutEdit" class="title-edit">
                          New Experiment 050115
                          <a ng-click="models.checkoutEdit=1" class="edit" href="#">
                            <span class="icon-pen"></span>
                          </a>
                        </div>
                        <div ng-show="models.checkoutEdit" class="edit-form">
                          <form class="form-inline" onsubmit="return false">
                            <div class="form-group">
                              <input type="text" class="form-control">
                              <button ng-click="models.checkoutEdit=0" class="btn btn-default">Save</button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-sm-3 col-lg-2">
                        <div ng-init="SelectColorFill=1;models.SelectColorFillName='Color Fill'" class="dropdown">
                          <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectColorFillName}} </a>
                          <ul aria-labelledby="drop4" class="dropdown-menu">
                            <li><a ng-click="SelectColorFill=1;models.SelectColorFillName='Traffic Source — Organic'" href="#" tabindex="-1">Traffic Source — Organic</a></li>
                            <li><a ng-click="SelectColorFill=0;models.SelectColorFillName='Option 2'" href="#" tabindex="-1">Option 2</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-3 col-lg-3 pull-right text-right">
                        <button class="btn btn-primary btn-lg">Start this experiment 
                          <span class="round rd-default ">
                            <span class="icon-ar-right"></span>
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="inner-light">
                      <div class="title-row">
                        Experiment Details
                        <div class="user-box">
                          <div class="img-frame"><img src="images/user-img.jpg" alt=""></div>
                          Created by Katie Page
                        </div>
                      </div>
                      <div class="content-row">
                        <div class="col-40">
                          <h3>Step 1 — What is your conversion goal?</h3>
                          <div class="row">
                            <div class="col-sm-6">
                              <label>Conversion Goal</label> 
                              <span class="icon-info"></span>
                            </div>
                            <div class="col-sm-6">
                              <div ng-init="SelectPurchase=1;models.SelectPurchaseName='First Purchase'" class="dropdown">
                                <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectPurchaseName}} </a>
                                <ul aria-labelledby="drop4" class="dropdown-menu">
                                  <li><a ng-click="SelectPurchase=1;models.SelectPurchaseName='First Purchase'" href="#" tabindex="-1">First Purchase</a></li>
                                  <li><a ng-click="SelectPurchase=0;models.SelectPurchaseName='Second Purchase'" href="#" tabindex="-1">Second Purchase</a></li>
                                </ul>
                              </div> 
                            </div>
                          </div>
                        </div>
                        <div class="col-60">
                          <h3>Step 2 — How much traffic should we send to this experiment?</h3>
                          <div class="slider-block">
                              <div class="slider-simple-wrap">
                                <div class="slider-counter">
                                  <div class="count-default" style="width: {{checkout_blockA(models.range)}}%;">Default NUX<span ng-show="models.range>checkout_block_limit.min"> — {{models.range}}%</span></div>
                                  <div class="count-exp" style="width: {{checkout_blockB(models.range)}}%;">B<span ng-show="models.range<checkout_block_limit.max"> — {{(100-models.range)/2}}%</span></div>
                                  <div class="count-exp" style="width: {{checkout_blockB(models.range)}}%;">C<span ng-show="models.range<checkout_block_limit.max"> — {{(100-models.range)/2}}%</span></div>
                                </div>
                                <div class="slider-simple"  range-slider min="0" max="100" model-min="0" step="5" model-max="models.range" pin-handle="min" disabled="false"></div>
                              </div>
                              <div class="count-inp">
                                <input class="form-control" ng-init="models.range=50" type="text" ng-model="models.range">
                                Default NUX
                              </div> 
                              <div class="count-inp var">
                                <input class="form-control" invertval  type="text" ng-model="models.range">
                                Experiment Variations
                              </div>                              
                          </div>
                        </div>
                      </div>
                      <div class="variations-row">
                        <h3>Step 3 — Add variations to test against the Default NUX</h3>
                        <a href="#" class="button-add-new">
                          <span class="round rd-default noselect">
                            <span class="icon-plus"></span>
                          </span>
                          Add new
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                    
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
  <!--script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
    </script-->
  <!--script src="js/plugins.js"></script-->
  <div ng-view></div>
  <script src="js/vendor/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/ngDialog.js"></script>
  <script src="js/jquery.minicolors.js"></script>
  <script src="js/angular-minicolors.js"></script>
  <script src="js/angular.rangeSlider.js"></script>
  <script src="js/angular-ui-switch.js"></script>
  <script src="js/ui.anglepicker.js"></script>
  <script src="js/angular-angelepicker.js"></script>
  <script src="js/app.js"></script>

  <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
</body>
</html>
