<!doctype html>
<html class="no-js" lang="" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rocket</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- <link rel="stylesheet" href="css/jquery.minicolors.css"> -->
  <!-- <link rel="stylesheet" href="css/angular.rangeSlider.css"> -->
  <!-- <link rel="stylesheet" href="css/angular-ui-switch.css"> -->
  <!-- <link rel="stylesheet" href="css/ui.anglepicker.css"> -->
  <link rel="stylesheet" href="css/styles-checkout.css">
</head>
<body ng-controller="MainCtrl">
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <span class="icon-rocket"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-home"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-phone"></span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span class="icon-tube"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-rise"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="pull-peft">
                  <div class="inner">
                    <div class="row">
                      <div class="col-sm-3 col-lg-2">
                        <div class="title-edit">
                          New Experiment 050115
                          <a class="edit" href="#">
                            <span class="icon-pen"></span>
                          </a>
                        </div>
                        <div class="edit-form">
                          <form class="form-inline" action="#">
                            <div class="form-group">
                              <input type="text" class="form-control">
                              <button class="btn btn-default">Save</button>
                            </div> 
                          </form>
                        </div>
                      </div>
                      <div class="col-sm-3 col-lg-2">
                        <div ng-init="SelectColorFill=1;models.SelectColorFillName='Color Fill'" class="dropdown">
                          <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectColorFillName}} </a>
                          <ul aria-labelledby="drop4" class="dropdown-menu">
                            <li><a ng-click="SelectColorFill=1;models.SelectColorFillName='Traffic Source — Organic'" href="#" tabindex="-1">Traffic Source — Organic</a></li>
                            <li><a ng-click="SelectColorFill=0;models.SelectColorFillName='Option 2'" href="#" tabindex="-1">Option 2</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-3 col-lg-3 pull-right text-right">
                        <button class="btn btn-primary btn-lg">Start this experiment 
                          <span class="round rd-default ">
                            <span class="icon-ar-right"></span>
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-centered text-center"><br><br><br><br><br>
                        <h3>Choose your traffic type for this experiment</h3>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="inner-light box">
                              <img src="img/checkout/icon-organic.png" alt="">
                              <h4>Organic</h4>
                              <p>This new user experience will receive traffic from organic search.</p>
                              <a class="btn btn-lg btn-block btn-primary" href="#">Choose</a>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="inner-light box">
                              <img src="img/checkout/icon-organic.png" alt="">
                              <h4>Organic</h4>
                              <p>This new user experience will receive traffic from organic search.</p>
                              <a class="btn btn-lg btn-block btn-primary" href="#">Choose</a>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="inner-light box">
                              <img src="img/checkout/icon-referral.png" alt="">
                              <h4>Referral</h4>
                              <p>This new user experience will receive traffic from in app referrals.</p>
                              <a class="btn btn-lg btn-block btn-primary" href="#">Choose</a>
                            </div>
                          </div>
                        </div><br><br>
                        <a href="#"><i class="icon icon-info h4 va-m"></i> &nbsp; </a>
                        Need help? <a class="text-primary" href="#">Learn more about each traffic type</a>
                      </div>
                    </div>
                  </div>
                </div>
                        <!--a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a-->
                    
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
  <!--script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
    </script-->
  <!--script src="js/plugins.js"></script-->
  <div ng-view></div>
  <script src="js/vendor/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/ngDialog.js"></script>
  <script src="js/jquery.minicolors.js"></script>
  <script src="js/angular-minicolors.js"></script>
  <script src="js/angular.rangeSlider.js"></script>
  <script src="js/angular-ui-switch.js"></script>
  <script src="js/ui.anglepicker.js"></script>
  <script src="js/angular-angelepicker.js"></script>
  <script src="js/app.js"></script>

  <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
</body>
</html>
