<div class="panel-wrap">
  <div class="modal-header">Color Active</div>
  <div class="modal-body">
    <div class="modal-container">
      <input minicolors="" type="text" ng-model="models.color">
      <br>
      <input class="form-control" type="text" value="{{models.color}}">
    </div>
  </div>
</div>
