<div class="panel-wrap  w-200">
  <div class="modal-header">Color Fill</div>
  <div class="modal-body">
    <div class="modal-container">
      <input minicolors="" type="text" ng-model="models.color">
      <br>
      <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
        <input class="form-control  ng-valid minicolors-input ng-dirty" ng-model="models.color" type="text">
        <span class="minicolors-swatch minicolors-sprite" style="background-color:{{models.color}} ;"><span class="minicolors-swatch-color" style="background-color:{{models.color}} ;"></span></span>
      </div>
    </div>
  </div>
</div>