<div class="panel-wrap  w-230">
  <div class="modal-header">Color Radius</div>
  <div class="modal-body">
    <div class="title">Corner Radius</div>
    <div class="modal-container">
      <div class="row  text-center">
        <div class="col-md-3"><span ng-click="models.size=decVal(models.size)" class="round rd-default noselect"><span  class="icon-minus" ng-init="models.size=1" ></span></span>
        </div>
        <div class="col-md-6">
          <input class="form-control text-center" type="text" max="10" min ="0" integer ng-model="models.size">
        </div>
        <div class="col-md-3"><span ng-click="models.size=incVal(models.size)" class="round rd-default noselect"><span class="icon-plus"></span></span>
        </div>
      </div>
    </div>
  </div>
</div>