<div class="panel-wrap  w-250">
  <div class="modal-header">Actions</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
      <!-- modal container -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter the user property">
        </div>
        <div class="form-group">
          <div class="dropdown">
            <a ng-dialog="dropdown-options.html" name="" id="" class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Required </a>
          </div>
        </div>
         <div class="form-group">
          <div ng-init="models.models.btnAction='Unique: False'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction='Unique: False'" href="#" tabindex="-1">Unique: False</a></li>
              <li><a ng-click="models.btnAction='Unique: True'" href="#" tabindex="-1">Unique: True</a></li>
            </ul>
          </div>
        </div>
         <div class="form-group">
          <div ng-init="models.btnAction1='Type: Custom'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction1}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction1='Type: Custom'" href="#" tabindex="-1">Type: Custom</a></li>
              <li><a ng-click="models.btnAction1='Type: Country'" href="#" tabindex="-1">Type: Country</a></li>
              <li><a ng-click="models.btnAction1='Type: Date'" href="#" tabindex="-1">Type: Date</a></li>
            </ul>
          </div>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>