<div class="panel-wrap  w-325">
  <div class="modal-header">Options</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
      <!-- modal container -->
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <div ng-init="models.btnAction='Start date: custom'" class="dropdown">
                <a class="custom-select select-dropdown dropdown-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction}}</a>
                <ul aria-labelledby="drop4" class="dropdown-menu">
                  <li><a ng-click="models.btnAction='Start date: custom'" href="#" tabindex="-1">Start date: custom</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input class="form-control fc-sm" type="text" placeholder="MM/DD/YY">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <div ng-init="models.btnAction1='First date: custom'" class="dropdown">
                <a class="custom-select select-dropdown dropdown-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction1}}</a>
                <ul aria-labelledby="drop4" class="dropdown-menu">
                  <li><a ng-click="models.btnAction1='First date: custom'" href="#" tabindex="-1">First date: custom</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="MM/DD/YY">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <div ng-init="models.btnAction2='Last date: custom'" class="dropdown">
                <a class="custom-select select-dropdown dropdown-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction2}}</a>
                <ul aria-labelledby="drop4" class="dropdown-menu">
                  <li><a ng-click="models.btnAction2='Last date: custom'" href="#" tabindex="-1">Last date: custom</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="MM/DD/YY">
            </div>
          </div>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>