<div class="panel-wrap  w-250">
  <div class="modal-header">Options</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
      <!-- modal container -->
        <div class="form-group">
          <textarea class="form-control" type="text" placeholder="Enter options separated by a comma..."></textarea>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>