<div class="panel-wrap  w-250">
  <div class="modal-header">Form Actions</div>
  <!-- modal header -->
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
      <!-- modal container -->
      <form class="" action="">
        <!-- form -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter the user property">
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction='Required'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction='Required'" href="#" tabindex="-1">Required</a></li>
              <li><a ng-click="models.btnAction='Optional'" href="#" tabindex="-1">Optional</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction1='Unique: False'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction1}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction1='Unique: False'" href="#" tabindex="-1">Unique: False</a></li>
              <li><a ng-click="models.btnAction1='Unique: True'" href="#" tabindex="-1">Unique: True</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction2='Keyboard: Default'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction2}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction2='Keyboard: Default'" href="#" tabindex="-1">Keyboard: Default</a></li>
              <li><a ng-click="models.btnAction2='Keyboard: Email Address'" href="#" tabindex="-1">Keyboard: Email Address</a></li>
              <li><a ng-click="models.btnAction2='Keyboard: URL'" href="#" tabindex="-1">Keyboard: URL</a></li>
              <li><a ng-click="models.btnAction2='Keyboard: Number Pad'" href="#" tabindex="-1">Keyboard: Number Pad</a></li>
              <li><a ng-click="models.btnAction2='Keyboard: Phone Pad'" href="#" tabindex="-1">Keyboard: Phone Pad</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction3='Capitalization: Default'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction3}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction3='Capitalization: Default'" href="#" tabindex="-1">Capitalization: Default</a></li>
              <li><a ng-click="models.btnAction3='Capitalization: Custom'" href="#" tabindex="-1">Capitalization: None</a></li>
              <li><a ng-click="models.btnAction3='Capitalization: Each Word'" href="#" tabindex="-1">Capitalization: Each Word</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction4='Mask text input: On'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction4}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction4='Mask text input: On'" href="#" tabindex="-1">Mask text input: On</a></li>
              <li><a ng-click="models.btnAction4='Mask text input: Off'" href="#" tabindex="-1">Mask text input: Off</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction5='Autocorrection: Off'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction5}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction5='Autocorrection: Off'" href="#" tabindex="-1">Autocorrection: Off</a></li>
              <li><a ng-click="models.btnAction5='Autocorrection: On'" href="#" tabindex="-1">Autocorrection: On</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div ng-init="models.btnAction6='Validation: None'" class="dropdown">
            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.btnAction6}}</a>
            <ul aria-labelledby="drop4" class="dropdown-menu">
              <li><a ng-click="models.btnAction6='Validation: None'" href="#" tabindex="-1">Validation: None</a></li>
              <li><a ng-click="models.btnAction6='Validation: Yes'" href="#" tabindex="-1">Validation: Yes</a></li>
            </ul>
          </div>
        </div>
      </form>
      <!--end form -->
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>