<div class="panel-wrap w-325">
  <div class="modal-header">Gradient</div>
  <div class="modal-body gradient-picker">
    <div class="title">GRADIENT COLOR</div>
    <div ng-init="models.colorsart='#f00e3b';models.colorend='#1bde3b'" class="modal-container">
      <div class="modal-container-inner">
        <div class="row">
          <div class="col-md-6">
            <div class="col-inner-r">
              <input class="form-control minicolors-small" minicolors="" type="text" ng-model="models.colorsart">
              <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                <input class="form-control  ng-valid minicolors-input ng-dirty" ng-model="models.colorsart" type="text">
                <span class="minicolors-swatch minicolors-sprite" style="background-color:{{models.colorsart}};"><span class="minicolors-swatch-color" style="background-color:{{models.colorsart}};"></span></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-inner-l">
              <input class="form-control minicolors-small" minicolors="" type="text" ng-model="models.colorend">
              <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                <input class="form-control   ng-valid minicolors-input ng-dirty" ng-model="models.colorend" type="text">
                <span class="minicolors-swatch minicolors-sprite" style="background-color:{{models.colorend}} ;"><span class="minicolors-swatch-color" style="background-color:{{models.colorend}} ;"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="range-slider-wrapper">
          <div range-slider min="0" max="100" model-min="0" model-max="100" color-start="models.colorsart" color-end="models.colorend" disabled="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>