<div class="panel-wrap  w-250">
  <div class="modal-header">Image</div>
  <div class="modal-body">
    <div class="title">image type</div>
    <div class="modal-container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled list-inline list-text-align image-fill">
            <li ng-init="imageType='File'" ng-click="editMenuClick($event);imageType='File'" class="active">
              <a href="#">File</a>
            </li><li ng-click="editMenuClick($event);imageType='Property'">
              <a href="#">Property</a></li>
          </ul>
        </div>
      </div>
      <div ng-if="imageType=='File'" class="file-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="fileUpload custom-select select-dropdown ng-binding">
                <span>Select one</span>
                <input fileread="models.fileLoadModel" type="file" class="upload" />
              </div>
            </div>
          </div>
        </div>
        <!-- To show when image is uploaded -->
        <div ng-if="models.fileLoadModel.length > 1" class="row">
          <div class="col-md-9">
            <label class="upload-file-name" for="">{{models.fileLoadModel}}</label>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="fileUpload btn btn-default btn-block">
                <span>edit</span>
                <input fileread="models.fileLoadModel" type="file" class="upload" />
              </div>
            <div ng-show="imageType=='File'" class="file-tab">
                <div  ng-show="!fileLoadOn"   class="row">
                    <div  class="col-md-12">
                        <div class="form-group">
                            <div class="fileUpload custom-select select-dropdown ng-binding">
                                <span>Select one</span>
                                <input fileread="models.fileLoadModel" loadon="fileLoadOn"  type="file" class="upload"  />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- To show when image is uploaded -->
              <div ng-show="fileLoadOn"  class="row">
                    <div class="col-md-9">
                        <label class="upload-file-name" for="">{{models.fileLoadModel}}</label>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="fileUpload btn btn-default btn-block">
                                <span>edit</span>
                                <input  type="file" class="upload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div ng-show="imageType=='Property'" class="property-tab">
                <div class="row form-group">
                    <div class="col-md-12">
                        <div ng-init="models.SelectProperty='Send'" class="dropdown">
                            <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectProperty}} </a>
                            <ul aria-labelledby="drop4" class="dropdown-menu">
                                <li><a ng-click="models.SelectProperty='Send'" href="#" tabindex="-1">Send</a></li>
                                <li><a ng-click="models.SelectProperty='Option 2'" href="#" tabindex="-1">Option 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Backup image">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div ng-if="imageType=='Property'" class="property-tab">
        <div class="row form-group">
          <div class="col-md-12">
            <div ng-init="models.SelectProperty='Send'" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{models.SelectProperty}} </a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a ng-click="models.SelectProperty='Send'" href="#" tabindex="-1">Send</a></li>
                <li><a ng-click="models.SelectProperty='Option 2'" href="#" tabindex="-1">Option 2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Backup image">
          </div>
        </div>
      </div>
    </div>
    <div class="title">image position</div>
    <div class="modal-container">
      <div class="row">
        <div class="col-md-5">
          <ul class="list-unstyled list-inline list-text-align image-fill">
            <li ng-click="editMenuClick($event)" class="active">
              <a href="#">Fill</a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">Fit</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <ul class="list-unstyled list-inline list-text-align image-position">
            <li ng-click="editMenuClick($event)" class="active">
              <a href="#">
                <span class="icon-pos-left"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-top"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-right"></span>
              </a>
            </li><li ng-click="editMenuClick($event)">
              <a href="#">
                <span class="icon-pos-bottom"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn btn-default btn-block checkbox-btn">
            <p class="checkbox">
              <input type="checkbox" id="test1" />
              <label for="test1">Maintain aspect ratio</label>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="title">image style</div>
    <div class="modal-container">
      <div class="form-group">
        <div class="slider-block">
          <div class="col col-70">
            <div class="slider-simple-wrap">
              <div class="item-title">OPACITY</div>
              <div class="slider-simple" range-slider min="0" max="100" model-min="0" step="5" model-max="models.range" pin-handle="min" disabled="false"></div>
            </div>
          </div>
          <div class="col col-30">
            <input class="form-control" ng-init="range=50" type="text" ng-model="models.range">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>