<div class="panel-wrap  w-250">
  <div class="modal-header">Image</div>
  <div class="modal-body">
    <div class="modal-container">
      <div class="form-group">
        <label ng-dialog="image-background-image-add.html" for="defaultValue" class="btn btn-default btn-block text-center">
          Add a background image
        </label>
      </div>
      <br>
    </div>
  </div>
</div>
