<!doctype html>
<html class="no-js" lang="" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rocket</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="css/jquery.minicolors.css">
  <link rel="stylesheet" href="css/angular.rangeSlider.css">
  <link rel="stylesheet" href="css/angular-ui-switch.css">
  <link rel="stylesheet" href="css/ui.anglepicker.css">
  <link rel="stylesheet" href="css/styles-animation-1.css">
</head>
<body ng-controller="MainCtrl">
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div class="wrapper">
    <!-- <div class="container"> -->
    <header>
      <div class="navbar">
        <div class="pull-left">
          <a class="pattern-link" href="#"><span class="round rd-default "><span class="icon-carret"></span></span> My patterns</a>
        </div>
        <div class="pull-right">
          <ul class="navbar-r">
            <li><a href="#">undo</a></li>
            <li><a href="#">save</a></li>
            <li><a class="close-link" href="#">close <span class="round rd-default "><span class="icon-close"></span></span></a></li>
          </ul>
        </div>
      </div>
    </header>
    <!--header-->
    <div class="table-cell">
      <ul class="image-edit-prew">
        <li>
          <a class="icon icon-1" href="#"><span ></span></a>
        </li>
        <li>
          <a class="icon icon-2" href="#"><span ></span></a>
        </li>
        <li>
          <a class="icon icon-3" href="#"><span ></span></a>
        </li>
        <li>
          <a class=" icon icon-4 active" href="#"><span ></span></a>
        </li>
        <li>
          <a class="icon icon-5" href="#"><span ></span></a>
        </li>
      </ul>
    </div>
    <div class="table-cell center-cell">
      <div class="edit-box">
        <div class="edit-image">
          <div ng-mouseover="hoverIn_()" ng-mouseleave="hoverOut_()" ng-click="editClick_()">
            <img src="images/phone-img.png" alt="">
            <div ng-show="editOn_" class="edit-circles">
              <span class="circle top-left"></span>
              <span class="circle left-center"></span>
              <span class="circle bottom-left"></span>
              <span class="circle bottom-center"></span>
              <span class="circle top-center"></span>
              <span class="circle top-right"></span>
              <span class="circle bottom-right"></span>
              <span class="circle right-center"></span>
            </div>
          </div>
          <div ng-show="editOn" class="opacity-block" style=""></div>
          <div ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-click="editClick()" class="btn-edit">
            <div class="btn editon">Get Started</div>
            <div ng-show="editOn" class="edit-circles">
              <span class="circle top-left"></span>
              <span class="circle left-center"></span>
              <span class="circle bottom-left"></span>
              <span class="circle bottom-center"></span>
              <span class="circle top-center"></span>
              <span class="circle top-right"></span>
              <span class="circle bottom-right"></span>
              <span class="circle right-center"></span>
            </div>
            <div ng-show="hoverEdit" ng-init="hoverEdit=0" class="edit-circles edit-cross">
              <span class="circle top-left"></span>
              <span class="circle left-center"></span>
              <span class="circle bottom-left"></span>
              <span class="circle bottom-center"></span>
              <span class="circle top-center"></span>
              <span class="circle top-right"></span>
              <span class="circle bottom-right"></span>
              <span class="circle right-center"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-cell">
      <div ng-show="editRootOn()" class="edit-menu">
        <ul ng-show="editOn">
          <li ng-click="editMenuClick($event)"><a class="text-edit" ng-dialog="button-text.html" href=""><span class="icon-edit-wrap"><span class="icon-text"></span></span><span class="txt">Text</span></a></li>
          <li ng-click="editMenuClick($event)"><a class="style-edit" ng-dialog="button-style.html" href=""><span class="icon-edit-wrap"><span class="icon-paint"></span></span><span class="txt">Style</span></a></li>
          <li ng-click="editMenuClick($event)"><a class="actions-edit" ng-dialog="button-actions.html" href=""><span class="icon-edit-wrap"><span class="icon-link"></span></span><span class="txt">Actions</span></a></li>
          <li ng-click="editMenuClick($event)"><a class="image-edit" ng-dialog="button-image.html" href=""><span class="icon-edit-wrap"><span class="icon-photo"></span></span><span class="txt">Image</span></a></li>
          <li ng-click="editMenuClick($event)"><a class="image-edit" ng-dialog="button-alternative.html" href=""><span class="icon-edit-wrap"><span class="icon-alternate-states"></span></span><span class="txt">Alternative State</span></a></li>
        </ul>
        <ul ng-show="editOn_">
          <li ng-click="editMenuClick($event)"><a class="style-edit" ng-dialog="background-style.html" href=""><span class="icon-edit-wrap"><span class="icon-paint"></span></span><span class="txt">Style</span></a></li>
          <li ng-click="editMenuClick($event)"><a class="image-edit" ng-dialog="background-image.html" href=""><span class="icon-edit-wrap"><span class="icon-photo"></span></span><span class="txt">Image</span></a></li>
        </ul>
        <div id="popup" class="popup">
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-nav">
        <div class="pull-left"><a class="icon rocket-logo" href="#">Rocket</a></div>
        <div class="pull-right"><a class="help-link" href="#">Help <span class="round rd-default "><span class="icon-question"></span></span></a></div>
      </div>
    </footer>
  </div>
  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
  <!--script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
    </script-->
  <!--script src="js/plugins.js"></script-->
  <div ng-view></div>
  <script src="js/vendor/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/ngDialog.js"></script>
  <script src="js/jquery.minicolors.js"></script>
  <script src="js/angular-minicolors.js"></script>
  <script src="js/angular.rangeSlider.js"></script>
  <script src="js/angular-ui-switch.js"></script>
  <script src="js/ui.anglepicker.js"></script>
  <script src="js/angular-angelepicker.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
