<div class="panel-wrap  w-200">
  <div class="modal-header">Shadow</div>
  <div class="modal-body">
    <div class="title">shadow style</div>
    <div class="modal-container">
      <div class="form-group clearfix">
        <div class="slider-block row">
          <div class="col col-70">
            <div class="slider-simple-wrap">
              <div class="item-title">BLUR</div>
              <div ng-init='models.blur=5' class="slider-simple" range-slider min="0" max="10" model-min="0" model-max="models.blur" pin-handle="min" disabled="false"></div>
            </div>
          </div>
          <div class="col col-30">
            <input class="form-control" ng-init="models.blur=50" type="text" ng-model="models.blur">
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="slider-block row">
          <div class="col col-70">
            <div class="slider-simple-wrap">
              <div class="item-title">OFFSET</div>
              <div ng-init='models.offset=5' class="slider-simple" range-slider min="0" max="10" model-min="0" model-max="models.offset" pin-handle="min" disabled="false"></div>
            </div>
          </div>
          <div class="col col-30">
            <input class="form-control" ng-init="models.offset=50" type="text" ng-model="models.offset">
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="slider-block row">
          <div class="col col-70">
            <div class="slider-simple-wrap">
              <div class="item-title">OPACITY</div>
              <div ng-init='models.opacity=50' class="slider-simple" step="5" range-slider min="0" max="100" model-min="0" model-max="models.opacity" pin-handle="min" disabled="false"></div>
            </div>
          </div>
          <div class="col col-30">
            <input class="form-control" ng-init="models.opacity=50" type="text" ng-model="models.opacity">
          </div>
        </div>
      </div>
    </div>
    <div class="title">shadow color</div>
    <div class="modal-container">
      <input class="form-control" minicolors="" type="text" ng-model="models.color">
      <br>
      <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
        <input class="form-control  ng-valid minicolors-input ng-dirty" ng-model="models.color" type="text">
        <span class="minicolors-swatch minicolors-sprite"><span class="minicolors-swatch-color" style="background-color:{{models.color}} ;"></span></span>
      </div>
    </div>
  </div>
</div>