<div class="panel-wrap  w-220">
  <div class="modal-header">Shape style</div>
  <div class="modal-body">
    <!-- modal body -->
    <div class="modal-container">
        <!-- form -->
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled list-inline list-text-align image-fill">
              <li ng-init="shapeType='Rectangle'" ng-click="editMenuClick($event);shapeType='Rectangle';" class="active">
                <a href="#">Rectangle</a>
              </li><li ng-click="editMenuClick($event);shapeType='Circle';">
                <a href="#">Circle</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-70">
            <div ng-init="SelectColorFill=1;SelectColorFillName='Color Fill'" class="dropdown">
              <a class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">{{SelectColorFillName}}</a>
              <ul aria-labelledby="drop4" class="dropdown-menu">
                <li><a ng-click="SelectColorFill=1;SelectColorFillName='Color Fill'" href="#" tabindex="-1">Color Fill</a></li>
                <li><a ng-click="SelectColorFill=0;SelectColorFillName='Gradient Fill'" href="#" tabindex="-1">Gradient Fill</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-30">
            <div ng-show="SelectColorFill" class="dropdown">
              <a ng-dialog="color-fill.html" name="" id="" class="custom-select select-dropdown sellect-sm" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square"></span></a>
            </div>
            <div ng-show="!SelectColorFill" class="dropdown">
              <a ng-dialog="gradient.html" name="" id="" class="custom-select select-dropdown sellect-sm " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="color-square gradient-pick"></span></a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="dropdown">
            <a ng-dialog="border.html" name="" id="" class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">1px Border <span class="border-size"></span> </a>
          </div>
        </div>
        <div class="form-group">
          <div ng-show="shapeType == 'Rectangle'" class="dropdown">
            <a ng-dialog="corner-radius.html" name="" id="" class="custom-select select-dropdown " data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">3px Corner Radius</a>
          </div>
          <div ng-show="shapeType == 'Circle'" class="dropdown">
            <a name="" id="" class="custom-select select-dropdown disabled" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"> Circle </a>
          </div>
        </div>
        <div class="form-group">
          <label ng-click="switch(switchenabled,'Shadow','shadow.html',2)" class="btn btn-default btn-block" for="defaultValue">
            <switch id="enabled" name="enabled" ng-model="switchenabled" class="green"></switch> Shadow <span ng-show="switchenabled">On</span><span ng-show="!switchenabled">Off</span>
          </label>
        </div>
        <div class="form-group">
          <div class="slider-block">
            <div class="col col-70">
              <div class="slider-simple-wrap">
                <div class="item-title">OPACITY</div>
                <div class="slider-simple" range-slider step="5" min="0" max="100" model-min="0" model-max="range" pin-handle="min" disabled="false"></div>
              </div>
            </div>
            <div class="col col-30">
              <input class="form-control" ng-init="range=50" type="text" ng-model="range">
            </div>
          </div>
        </div>
    </div>
    <!--end modal container -->
  </div>
  <!--end modal body -->
</div>
</div>