////////////////////////////////////////////////////////////
// Import everything to generate your animate sass module //
////////////////////////////////////////////////////////////
@import "helpers/mixins",
		"helpers/settings";

// FADE
@import	"animations/fade-enter/fadeIn",
		"animations/fade-enter/fadeInDown",
		"animations/fade-enter/fadeInDownBig",
		"animations/fade-enter/fadeInLeft",
		"animations/fade-enter/fadeInLeftBig",
		"animations/fade-enter/fadeInRight",
		"animations/fade-enter/fadeInRightBig",
		"animations/fade-enter/fadeInUp",
		"animations/fade-enter/fadeInUpBig",
		"animations/fade-exit/fadeOut",
		"animations/fade-exit/fadeOutDown",
		"animations/fade-exit/fadeOutDownBig",
		"animations/fade-exit/fadeOutLeft",
		"animations/fade-exit/fadeOutLeftBig",
		"animations/fade-exit/fadeOutRight",
		"animations/fade-exit/fadeOutRightBig",
		"animations/fade-exit/fadeOutUp",
		"animations/fade-exit/fadeOutUpBig",
		"animations/flippers/flipInY",
        "animations/flippers/flipOutY";

/////////////////////////////////////////////////////////
// Copy the css rules  below into your own sass file   //
/////////////////////////////////////////////////////////

body {
	-webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
	@include animate-prefixer(animation-duration, $base-duration);
	@include animate-prefixer(animation-fill-mode, both);

	&.hinge {
		@include animate-prefixer(animation-duration, $base-duration * 2);
	}
}
